:root   {
    --branding-color: #D9AB9F; 
    --heading-font-family: "Ephesis", cursive;
    --default-font-family: "Quicksand", sans-serif;  
}

body {
    background: var(--branding-color);
}
h1 {
    color: black;
    font-family: var(--heading-font-family); 
    font-size: 50px;
    margin: 40px auto;
}
p {
    color: black; 
    font-family: var(--default-font-family); 
    font-size: 18px;
    margin: 20px auto;
    padding: 10px 20px; 
    
}

.btn-branding {
    background: rgb(249, 243, 242); 
    border-radius: 10px;
    color:  rgb(224, 143, 127); 
    font-size: 25px;
    line-height: 30px;
    padding: 15px 20px; 
    display: flex; 
    justify-content: center;
    max-width: 40%;
    font-family: var(--heading-font-family);
    
  
}

.about {
    text-align: center;
}

.img-fluid {
    max-width: 80%;
    height: auto;
    border-radius: 20px;
    margin: 90px 100px; 
    
}


@media (max-width: 900px) { 
h1 {
    font-size: 50px; 
}
p {
    font-size: 20px;
}}

.navbar-brand {
    font-family: var(--heading-font-family);
}

.nav-link {
    color: black; 
    font-family: var(--default-font-family);
}

.services-section h1, h2, h3, h4, h5{
    font-family: var(--heading-font-family);
    font-size: 30px;
   
}

li, ul {
    font-family: var(--default-font-family);
}

.photo-section img {
    max-height: 50%;
    border-radius:20px;
    margin-bottom: 0;
  
}

.photo-section p {
    font-size: 20px;
    padding: 5px;
   
}

.contact-me {
    text-align: center;
}

.contact-me h2 {
    font-size: 35px;
    margin-bottom: 2px;
}

.contact-me p {
    font-size: 20px;
    margin-top: 2px;
}

.contact-me img {
    max-height: 200px; 
    margin: 5px auto 30px auto;
}

